#define _bgcolor	#2f343f

URxvt*background: _     bgcolor
URxvt*foreground:       white
URxvt*font:             xft:Hack-Regular:pixelsize=16
URxvt*boldFont:         xft:Hack-Bold:pixelsize=16
URxvt.scrollBar:        false
URxvt.internalBorder:   30
URxvt.borderless:       tru
